*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  border-radius: 0 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
  font-family: "Segoe UI", "Arial", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #252525;
  text-align: center;
}
.underline{
  text-decoration: underline;
}
a{
  color:inherit;
}
.wrapper {
  position: relative;
  display: block;
}
.logo-primary-color {
  color: #008aff;
}

.underline{
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}

/*START Landing Page CSS*/
.landing h3{
  font-weight: normal;
}
.landing .wrapper, .thankyou .wrapper {
  background-image: url('/img/components.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  min-width:1024px;
  margin:auto;
}
.landing .wrapper img.bg, .thankyou .wrapper img.bg{
  z-index: -1;
  width:100%;
  display:block;
  position:relative;
}
.landing .callout, .thankyou .callout {
  display:block;
  background-color: #252525;
  margin-top: 200px;
  color: #ffffff;
  padding-top: 30px;
  width:100%;
}
.landing .branding, .landing .uvp{
  margin-bottom:20px;
}
.landing .mailing-list form{
  margin-top:10px;
  padding-bottom:15px;
}
.landing .mailing-list input{
  font-size:18px;
  border:1px solid transparent;
  padding:5px;
  color:#656565;
}
.landing .mailing-list input[type="submit"]{
  background-color:#008aff;
  color:inherit;
  padding-right:20px;
  padding-left:20px;
  cursor:pointer;
  color:#ffffff;
}
.landing .mailing-list input[type="submit"]:hover{
  background-color: #252525;
  border-color: #ffffff;
}
.landing .PSA, .thankyou .PSA{
  z-index:1;
  display:block;
  margin:auto;
  width:550px;
  text-align: center;
  position: absolute;
  top:40%;
  left:50%;
}
.landing .PSA .msg, .thankyou .PSA .msg{
  display:block;
  padding:10px;
  color:#656565;
  background-color: #ffffff;
  width: 100%;
  border: 2px solid #252525;
  font-size:15px;
}
.landing .PSA .msg h3{
  margin-bottom:15px;
}
.landing .callout, .thankyou .callout{
  margin-top:-50%;
}
.landing .callout, .landing .msg, .thankyou .callout, .thankyou .msg{
  margin-left:-50%;
}

.list-wrap {
  width:435px;
  text-align: left;
  margin:auto;
}

@media screen and (max-width: 768px){
  .landing .wrapper{
    min-width: 320px;
  }
  .landing .callout{
    float:none;
    margin:0;
    margin-top:150px;
    padding:15px;
  }
  .landing .PSA{
    width:100%;
    position:relative;
    padding-top:163px;
  }
  .landing .PSA, .landing .PSA .msg, .landing .PSA .callout {
    margin:auto;
    top:0;
    left:0;
  }
}
@media screen and (max-width: 568px){
  .landing .wrapper{
    background-size: 100%;
    background-position: top;
  }
  .landing h2{
    font-size: 18px;
  }
  .landing h3{
    font-size: 14px;
  }
  .landing .callout{
    margin-top:163px;
    width:100%;
    padding:20px 5px 0 5px;
  }
}

@media screen and (max-width: 568px){
  .landing h2{
    font-size: 16px;
    margin-bottom: 5px;
  }

  .landing .list-wrap {
    width: 100%;
  }
}
/*END Landing Page CSS*/


/*START Thankyou Page CSS*/

.thankyou .uvp{
  padding:25px;
}

.thankyou .msg h3{
  font-weight: normal;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px){
  .thankyou .wrapper{
    min-width: 320px;
  }
  .thankyou .callout{
    float:none;
    margin:0;
    margin-top:150px;
    padding:15px;
  }
  .thankyou .PSA{
    width:100%;
    position:relative;
    padding-top:163px;
  }
  .thankyou .PSA, .thankyou .PSA .msg, .thankyou .PSA .callout {
    margin:auto;
    top:0;
    left:0;
  }
}
@media screen and (max-width: 568px){
  .thankyou .wrapper{
    background-size: 100%;
    background-position: top;
  }
  .thankyou h2{
    font-size: 18px;
  }
  .thankyou h3{
    font-size: 14px;
  }
  .thankyou .callout{
    margin-top:163px;
    width:100%;
    padding:20px 5px 0 5px;
  }
}

@media screen and (max-width: 568px){
  .thankyou h2{
    font-size: 16px;
    margin-bottom: 5px;
  }

  .thankyou .list-wrap {
    width: 100%;
  }
}
/*END Thankyou Page CSS*/