<% include header %>
<div class="wrapper">
  <!-- <img class='bg' src="/img/components.jpg" alt="Electrical Components"> -->
  <div class="PSA">
    <div class="callout">
      <div class="branding">
        <img src="/img/logo.png" alt="">
        <h1><span class="logo-primary-color">Electrical</span>Academy</h1>
      </div>
      <div class="uvp">
        <h2>Learn to design electronics interactively!</h2>
        <h2>FREE!</h2>
        <h2>Join if any of the following applies:</h2>
        <div class="list-wrap">
          <ul>
            <li>Have a hardware idea, don't know where to start</li>
            <li>In K-12 or University, interested in electrical engineering</li>
            <li>Advocate of the Maker Community</li>
            <li>Looking for a hobby in electronics</li>
            <li>Sick of seeing social apps</li>
            <li class="underline bold">You want to change the world</li>
          </ul>
        </div>
      </div>
      <div class="mailing-list">
        <p>We are preparing for our beta release.</p>
        <p>Join our mailing list to get notified immediately!</p>
        <form action="mailinglist" method="post" accept-charset="utf-8">
          <input type="email" name="email" placeholder="e-mail address" required><input type="submit" value="Go">
        </form>
      </div>
    </div>
    <div class="msg">
      <h3>We are dedicated to bringing formal electrical engineering education to the world in an interactive and casual environment.</h3>
      <h3>We believe in the freedom of education, that anyone should be able to learn regardless of income, location, or time.</h3>
      <!-- <h3>If you have any inquiries, please <a href="/contact">contact us</a></h3> -->
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="/js/test.js"></script> -->
<% include footer %>