<% include header %>
<div class="wrapper">
  <!-- <img class='bg' src="/img/components.jpg" alt="Electrical Components"> -->
  <div class="PSA">
    <div class="callout">
      <div class="branding">
        <img src="/img/logo.png" alt="">
        <h1><span class="logo-primary-color">Electrical</span>Academy</h1>
      </div>
      <div class="uvp">
        <h2>Thanks for signing up!</h2>
        <h3>We'll send you an email when we launch our service!</h3>
      </div>
    </div>
    <div class="msg">
      <h3>We are dedicated to bringing formal electrical engineering education to the world in an interactive and casual environment.</h3>
      <h3>We believe in the freedom of education, that anyone should be able to learn regardless of income, location, or time.</h3>
      <!-- <h3>If you have any inquiries, please <a href="/contact">contact us</a></h3> -->
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="/js/test.js"></script> -->
<% include footer %>